# Build directories
build/
build_test/
out/
cmake-build-*/
_codeql_build_dir/

# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Compiled files
*.exe
*.dll
*.lib
*.obj
*.o
*.pdb
*.ilk

# IDE
.vscode/
.idea/

# Temporary files
*.log
*.tmp
